@import url('https://fonts.googleapis.com/css2?family=Ubuntu:500');

:root {
    --text: #0f0607;
    --background: #fdfafa;
    --primary: #ba5761;
    --secondary: #a3dac4;
    --accent: #79a3c8;

    --primary-light: #ba5761ab;
    --text-invert: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--text);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin: 5px 20px;
    border-radius: 30px;
    background-color: transparent;
}

/*
    Navbar
*/

.logo {
    cursor: pointer;
}

.logo img {
    padding-top: 3px;
    width: 200px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: var(--primary-light);
    border-radius: 20px;
    margin-right: 20px;
    margin-left: auto;
}

.nav ul li a {
    display: block;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.nav ul li a:hover {
    background-color: var(--secondary);
}

.cta {
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: var(--primary-light);
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: var(--secondary);
}

/* Mobile Nav */
.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    color: var(--text-invert);
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--secondary);
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--text-invert);
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {

    .nav,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}

/*
    body
*/

section {
    padding: 40px;
    margin: 40px;
    background-color: var(--primary);
}

/* 
    footer
*/

footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    background-color: transparent;
}

/*
    404 page
*/

.page-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.page-404 h1 {
    margin: 20px;
}

.button-link {
    padding: 10px 20px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    transition: transform 0.3s;
}

.button-link:hover {
    transform: scale(1.1);
}