:root[data-theme="light"] {
    --text: #061212;
    --background: #f4fcfc;
    --primary: #4dc6c7;
    --secondary: #8da2db;
    --accent: #716dd1;

    --primary-light: #4dc6c780;
    --text-invert: #f9f0f1;

    --gray-light: #f2f2f2;
    --gray-medium: #dcdcdc;
    --gray-dark: #a0a0a0;

    --font-small: 12;
    --font-medium: 16;
    --font-big: 24;
}

:root[data-theme="dark"] {
    --text: #ecf9f9;
    --background: #030c0c;
    --primary: #38b2b2;
    --secondary: #233870;
    --accent: #322f93;

    --primary-light: #38b2b285;
    --text-invert: #0f0607;

    --gray-light: #606060;
    --gray-medium: #404040;
    --gray-dark: #202020;

    --font-small: 12;
    --font-medium: 16;
    --font-big: 24;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--text);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin: 5px 20px;
    border-radius: 30px;
    background-color: transparent;
}

/*
    Navbar
*/

.nav-container {
    height: 73.95px;
    z-index: 1;
}

.logo {
    cursor: pointer;
}

.logo img {
    padding-top: 3px;
    width: 200px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: var(--primary-light);
    box-shadow: 0 3px 10px 0 rgba(45, 54, 65, 0.75);
    border-radius: 20px;
    margin-right: 20px;
    margin-left: auto;
}

.nav ul li a {
    display: block;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}

.nav ul li a:hover {
    background-color: var(--secondary);
}

.theme-switcher {
    padding: 10px 18px 0 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.theme-switcher:hover {
    transform: scale(1.1);
}

.cta {
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: var(--primary-light);
    box-shadow: 0 3px 10px 0 rgba(45, 54, 65, 0.75);
    cursor: pointer;
}

.cta:hover {
    background-color: var(--secondary);
}

/* Mobile Nav */
.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theme-switcher-small {
    position: absolute;
    top: 20px;
    right: 105px;
    font-size: 55px;
    color: var(--text-invert);
    padding: 10px 18px 0 0;
    cursor: pointer;
}

.theme-switcher:hover {
    color: var(--secondary);
}

.overlay a {
    color: var(--text-invert);
    padding: 15px;
    font-size: 36px;
    display: block;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--secondary);
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--text-invert);
}

/*
    body
*/

main {
    padding: 0 20px;
    background-color: transparent;
}

.introduction {
    height: calc(100vh - 73.95px);

}

.introduction h1 {
    margin: 30vh auto 0 40px;
    font-size: 64px;
    width: fit-content;
    background: linear-gradient(to right, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: font-size 0.3s ease, margin 0.3s ease;
}

.full-h2,
.short-h2 {
    margin: 0 20px 0 40px;
    transition: font-size 0.3s ease;
}

.short-h2 {
    display: none;
}

.introduction div {
    border: 2px solid var(--primary);
    margin: 20px auto 0 40px;
    padding: 20px;
}

/*cta buttons*/
.primary-cta,
.secondary-cta {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text);
    cursor: pointer;
    margin: 40px 0 20px 40px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 30px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.secondary-cta {
    margin-left: 10px;
    margin-top: 0;
}

.primary-cta:hover,
.secondary-cta:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transform: scale(1.1);
    transition: all .3s ease-in-out, ;
}

.primary-cta:focus,
.secondary-cta:focus {
    outline: none;
}

.primary-cta.cta-gradient {
    background-image: linear-gradient(to right,
            var(--primary),
            var(--accent),
            var(--accent),
            var(--secondary));
    box-shadow: 0 3px 10px 0 rgba(45, 54, 65, 0.75);
}

.secondary-cta {
    background-color: transparent;
    border: 2px solid var(--primary-light);
}

.secondary-cta:hover {
    border-color: var(--text);
}

section {
    padding: 40px;
    margin: 0 40px 40px 40px;
}

.content-tiles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.projects-short {
    display: grid;
    background-color: var(--gray-dark);
    min-height: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.main-project {
    grid-column: 1/3;
}

.sub-project-1 {}

.sub-project-2 {
    grid-row: 3;
    grid-column: 1/4;
}

.sub-project-3 {
    grid-column: 2/4;
}

.sub-project-footer {
    grid-column: 1/4;
    grid-row: 4;
    margin-top: 40px;
}

.projects-short h4 {
    text-align: center;
    font-size: 1.25rem;
    padding: 10px;
}

.projects-short a {
    position: relative;
    margin: auto auto 0 0;
    border: 2px solid var(--accent);
    border-radius: 10px;
    padding: 10px;
}

/* 
    footer
*/

footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;

    margin: 20px 0 20px 0;
    background-color: transparent;
}

/*
    404 page
*/

.page-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: auto;
    margin-bottom: auto;
}

.page-404 h1 {
    margin: 20px;
}

.page-404 h4 {
    margin-bottom: 15px;
    margin-top: -10px;
}

.page-404 div {
    margin: 20px auto 20px auto;
}

.primary-button-link,
.secondary-button-link {
    padding: 10px 20px;
    margin: 0 5px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    transition: border-color 0.3s ease;
}

.secondary-button-link {
    border-color: transparent;
}

.primary-button-link:hover,
.secondary-button-link:hover {
    border-color: var(--text);
}

/*
    Contact Page
*/

.contact-background-container {
    position: absolute;
    width: 60%;
    min-height: 100vh;
    transform: skew(-20deg);
    transform-origin: top left;
    /*background-image: url(/img/bg-material.jpg);*/
    background-color: #ffffff26;
    transition: width 0.5s ease, transform 0.5s ease, display 0.3s ease;
    z-index: -1;
}

.contact-background-container.element-2 {
    width: 57%;
    background-color: var(--primary-light);
}

.contact-content-container {
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.form-container {
    display: grid;
    align-items: center;
    margin: 20px 20px auto auto;
    width: 40%;
    min-height: 100%;
    background-color: transparent;
    transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
}

.form-container h2 {
    text-align: left;
    margin: 10px 0;
}

.form-group {
    padding: 0;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-group legend {
    margin: 0 0 0 8px;
    padding: 0 3px;
    z-index: 1;
}

.form-group input {
    width: 100%;
    height: 20px;
    border: none;
    padding-left: 10px;
}

.form-group-input {
    padding-bottom: 7px;
}

.form-group textarea {
    width: 100%;
    height: 80px;
    border: none;
    padding-left: 10px;
}

.form-group input,
.form-group textarea {
    color: var(--text);
    background-color: transparent;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}

.form-group button {
    margin: 20px 0 0 auto;
    padding: 10px 0;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: var(--primary);
    color: var(--text);
    font-size: var(--font-medium);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.form-group button:hover {
    background-color: var(--secondary);
    transform: scale(1.025);
}

.footer-container {
    background-color: transparent;
    margin: 20px 0 0 0;
    padding: 0;
}

.footer-container footer {
    margin: 0;
}

/*
    Media Queries
*/

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .introduction h1 {
        margin-top: 15vh;
    }
}

@media only screen and (max-height: 320px) {
    .introduction h1 {
        margin: 20vh auto 0 20px;
        font-size: 48px;

    }

    .full-h2,
    .short-h2 {
        margin: 0 20px 0 25px;
        font-size: 16px;
    }

    .primary-cta {
        margin: 20px 0 20px 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .form-container {
        width: 500px;
    }
}

@media only screen and (max-width: 1000px) {
    .form-container {
        width: 400px;
    }
}

@media only screen and (max-width: 768px) {

    .nav,
    .cta,
    .theme-switcher {
        display: none;
    }

    .theme-switcher-small {
        display: block;
    }

    .menu {
        display: initial;
    }

    .contact-background-container {
        width: 50%;
    }
}

@media only screen and (max-width: 560px) {
    .introduction h1 {
        margin: 20vh auto 0 20px;
        font-size: 48px;

    }

    .full-h2,
    .short-h2 {
        margin: 0 20px 0 25px;
        font-size: 16px;
    }

    .primary-cta {
        margin: 20px 0 20px 20px;
    }

    .contact-background-container {
        display: none;
    }

    .form-container {
        width: 100%;
    }

    .content-tiles-container {
        display: flex;
        flex-direction: column;
    }


}

@media only screen and (max-width: 480px) {}