@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

:root[data-theme="light"] {
    --text: #061212;
    --background: #f4fcfc;
    --primary: #4dc6c7;
    --secondary: #8da2db;
    --accent: #6f6be1;

    --primary-light: #4dc6c780;
    --text-invert: #ecf9f9;

    --gray-light: #f2f2f2;
    --gray-medium: #dcdcdc;
    --gray-dark: #a0a0a0;
    --gray-black: #3d3d3d;

    --font-small: 12;
    --font-medium: 16;
    --font-big: 24;

    --bio-bg-image: url("/img/sebastian_sonne/mountain_center.webp");
}

:root[data-theme="dark"] {
    --text: #ecf9f9;
    --background: #030c0c;
    --primary: #38b2b2;
    --secondary: #233870;
    --accent: #221e92;

    --primary-light: #38b2b285;
    --text-invert: #061212;

    --gray-light: #606060;
    --gray-medium: #404040;
    --gray-dark: #202020;
    --gray-black: #f1f1f1;

    --font-small: 12;
    --font-medium: 16;
    --font-big: 24;

    --bio-bg-image: url("/img/sebastian_sonne/sunset_1.webp");
}

:root {
    --text-constant-dark: #0f0600;
    --text-constant-light: #ecf9f9;

    --gray-constant: #d6d6d687;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: 'Syne', 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--text);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin: 5px 20px;
    border-radius: 30px;
    background-color: transparent;
}

/*
    Navbar
*/

.nav-container {
    height: 73.95px;
    z-index: 1;
}

.logo {
    cursor: pointer;
}

.logo img {
    padding-top: 3px;
    width: 200px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: var(--primary-light);
    box-shadow: 0 3px 10px 0 rgba(45, 54, 65, 0.75);
    border-radius: 20px;
    margin-right: 20px;
    margin-left: auto;
}

.nav ul li a {
    display: block;
    padding: 10px 30px;
    border-radius: 20px;
}

.nav ul li a:hover {
    background-color: var(--secondary);
}

.theme-switcher {
    padding: 10px 18px 0 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.theme-switcher:hover {
    transform: scale(1.1);
}

.cta {
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: var(--primary-light);
    box-shadow: 0 3px 10px 0 rgba(45, 54, 65, 0.75);
    cursor: pointer;
}

.cta:hover {
    background-color: var(--secondary);
}

/* Mobile Nav */
.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
    z-index: 10;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay__content a {
    margin-bottom: 5px;
    text-align: center;
    width: 180px;
    border-radius: 35px;
    transition: all 0.3s ease;
}

.overlay__content a:hover,
.overlay__content a:focus {
    color: var(--text);
    background-color: var(--secondary);
}

.theme-switcher-small {
    position: absolute;
    top: 20px;
    right: 105px;
    font-size: 55px;
    color: var(--text-invert);
    padding: 10px 18px 0 0;
    cursor: pointer;
}

.material-icons {
    font-size: 12px;
}

.theme-switcher:hover {
    color: var(--secondary);
}

.overlay a {
    color: var(--text-invert);
    padding: 15px;
    font-size: 36px;
    display: block;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--text);
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--text-invert);
    cursor: pointer;
}

/*
    slide in animations
*/
@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.hidden {
    opacity: 0.8;
    transform: scale(0.85);
    transition: all 500ms;
}

.show {
    transform: scale(1);
    opacity: 1;
}

/*
    body
*/

main {
    padding: 0 20px;
    background-color: transparent;
}

.introduction {
    height: calc(100vh - 73.95px);
}

.introduction h1 {
    margin: 30vh auto 10px 30px;
    font-family: 'Sixtyfour', sans-serif;
    font-size: 64px;
    word-spacing: -20px;
    width: fit-content;
    background: linear-gradient(to right, var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: font-size 0.3s ease, margin 0.3s ease;
}

.full-h2,
.short-h2 {
    margin: 0 20px 0 35px;
    transition: font-size 0.3s ease;
}

.short-h2 {
    display: none;
}

.introduction div {
    border: 2px solid var(--primary);
    margin: 20px auto 0 40px;
    padding: 20px;
}

/*cta buttons*/
.primary-cta,
.secondary-cta {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text);
    cursor: pointer;
    margin: 40px 0 40px 35px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 30px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.secondary-cta {
    margin-left: 10px;
    margin-top: 0;
}

.primary-cta:hover,
.secondary-cta:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transform: scale(1.1);
    transition: all .3s ease-in-out, ;
}

.primary-cta:focus,
.secondary-cta:focus {
    outline: none;
}

.primary-cta.cta-gradient {
    background-image: linear-gradient(to right,
            var(--primary),
            var(--accent),
            var(--accent),
            var(--secondary));
    box-shadow: 0 3px 10px 0 rgba(45, 54, 65, 0.75);
}

.secondary-cta {
    background-color: transparent;
    border: 2px solid var(--primary-light);
}

.secondary-cta:hover {
    border-color: var(--text);
}

.content-tiles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.projects-short {
    display: grid;
    background-color: var(--gray-dark);
    min-height: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.main-project {
    grid-column: 1/3;
}

/*
.sub-project-1 {}
*/
.sub-project-2 {
    grid-row: 3;
    grid-column: 1/4;
}

.sub-project-3 {
    grid-column: 2/4;
}

.sub-project-footer {
    grid-column: 1/4;
    grid-row: 4;
    margin-top: 40px;
}

.projects-short h4 {
    text-align: center;
    font-size: 1.25rem;
    padding: 10px;
}

.projects-short a {
    position: relative;
    margin: auto auto 0 0;
    border: 2px solid var(--accent);
    border-radius: 10px;
    padding: 10px;
}

/* 
    footer
*/

footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;

    margin: 20px 0 20px 0;
    background-color: transparent;
}

/*
    404 page
*/

.page-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: auto;
    margin-bottom: auto;
}

.page-404 h1 {
    margin: 20px;
}

.page-404 h4 {
    margin-bottom: 15px;
    margin-top: -10px;
}

.page-404 div {
    margin: 20px auto 20px auto;
}

.primary-button-link,
.secondary-button-link {
    padding: 10px 20px;
    margin: 0 5px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    transition: border-color 0.3s ease;
}

.secondary-button-link {
    border-color: transparent;
}

.primary-button-link:hover,
.secondary-button-link:hover {
    border-color: var(--text);
}

/*
    Contact Page
*/

.contact-background-container {
    position: absolute;
    width: 60%;
    min-height: 100vh;
    transform: skew(-20deg);
    transform-origin: top left;
    background-color: var(--gray-light);
    transition: width 0.5s ease, transform 0.5s ease, display 0.3s ease;
    z-index: -1;
}

.contact-background-container.element-2 {
    width: 57%;
    background-color: #00000016;
}

.contact-content-container {
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.form-container {
    display: grid;
    align-items: center;
    margin: 20px 20px auto auto;
    padding: 0 20px;
    width: 40%;
    min-height: 100%;
    border-radius: 20px;
    transition: width 0.3s ease, margin 0.3s ease, padding 0.3s ease;
}

.form-container h2 {
    text-align: left;
    margin: 10px 0;
}

.form-group {
    padding: 0;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-group legend {
    margin: 0 0 0 8px;
    padding: 0 3px;
    z-index: 1;
}

.form-group input {
    width: 100%;
    height: 20px;
    border: none;
    padding-left: 10px;
}

.form-group-input {
    padding-bottom: 7px;
}

.form-group textarea {
    width: 100%;
    height: 80px;
    border: none;
    padding-left: 10px;
}

.form-group input,
.form-group textarea {
    color: var(--text);
    background-color: transparent;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}

.form-group button {
    margin: 20px 0 0 auto;
    padding: 10px 0;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: var(--primary);

    background-image: linear-gradient(150deg,
            var(--primary),
            var(--accent));

    color: var(--text);
    font-size: var(--font-medium);
    transition: transform 0.3s ease, background-color 0.3s ease, background-image 0.3s ease;
}

.form-group button:hover {
    background-color: var(--secondary);
    background-image: linear-gradient(150deg,
            var(--accent),
            var(--primary));
    transform: scale(1.025);
}

.footer-container {
    background-color: transparent;
    margin: 20px 0 40px 0;
    padding: 0;
}

.footer-container footer {
    margin: 0;
}

.contact-footer {
    margin-bottom: 0;
}

/*
    Bio 
*/
.bio-content-container {
    z-index: 1;
}

.bio-hero {
    padding-bottom: 120px;
    z-index: 1;
}

.bio-bg {
    position: absolute;
    /*pre bg*/
    background: var(--background);
    background-image: var(--bio-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    transition: background-image 0.3s ease;
}

.bio-bg h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Sixtyfour', sans-serif;
    font-size: 96px;
    word-spacing: -20px;

    transition: font-size 0.3s ease;
}

.bio-name-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.bio-first-name,
.bio-last-name {
    font-size: 128px;
    font-weight: 800;
    padding: 100px 20px;
}

.bio-hero-text {
    position: absolute;
    top: 85vh;


    color: var(--text-constant-light);
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(9px) saturate(100%);
    background-color: #242424a1;
    width: 50%;
    margin: 0 40px;
    padding: 20px;
    border-radius: 20px;

    transition: width 0.3s ease;
}

.bio-hero-text p,
.bio-content p {
    font-size: 24px;
    line-height: 1.6;
}

.bio-hero-text h1 {
    margin-bottom: 10px;
    font-size: 32px;
}

.bio-content {
    background-color: var(--background);
    margin: 0 40px 0 40px;
    max-width: 2560px;
    z-index: 1;
}

.bio-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bio-section-1 {
    padding-top: 112px;
    padding-bottom: 100px;
}

.bio-section img {
    background-color: var(--gray-light);
    width: 500px;
    height: 500px;
    border-radius: 250px;
    object-fit: cover;
}

.bio-p1,
.bio-p2,
.bio-p3,
.bio-p4,
.bio-p5 {
    padding: 20px;
    background-color: var(--gray-constant);
    border-radius: 20px;
    width: 40vw;
}

.bio-p1 {
    max-width: 25vw;
}

.bio-p3 {
    display: flex;
    flex-direction: column;
}

.bio-p5 {
    margin: 0 auto;
    margin-top: 64px;
}

.bio-button {
    width: 43.9%;
    background-color: var(--gray-constant);
    border-radius: 30px;
    color: var(--text);
    cursor: pointer;
    border: none;
    border-radius: 35px;
    margin-top: 10px;
    padding: 15px 10px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.bio-button:hover {
    background-color: var(--primary-light);
    transform: scale(1.05);
}

.bio-redirect {
    margin: 0 10px;
    width: 55px;
}

.icon-link {
    transform: scale(1.5);
}

/*
    MEDIA
*/

.media-hero {
    height: calc(100vh - 73.95px);
}

/* TODO */
.media-hero img {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.media-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: var(--text);
    min-height: 73.95px;
    padding: 0 30px;
}

.media-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    background-color: var(--gray-medium);
    border-radius: 30px;
}

#media-li-1 {
    margin-left: 0;
}

#media-li-4 {
    margin-right: 0;
}

.media-nav li {
    display: block;
    padding: 10px 30px;
    width: auto;
    margin: 0 10px;
    border: 3px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
}

.media-nav li:hover {
    background-color: var(--gray-light);
    transform: scale(1.025);
}

.media-li-active {
    transform: scale(1.075);
    box-shadow: 0px 0px 5px var(--text-constant-dark);
}

.media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: 350px;
    grid-gap: 15px;
    padding: 10px;
}

.media-grid img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--gray-dark);
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.media-grid img:hover {
    transform: scale(1.025);
}

.grid-col-2 {
    grid-column: span 2;
}

.grid-col-3 {
    grid-column: span 3;
}

.grid-col-4 {
    grid-column: span 4;
}

.grid-row-2 {
    grid-row-start: span 2;
    height: 100% !important;
}

.grid-row-3 {
    grid-row-start: span 3;
    height: 100% !important;
}

.grid-row-4 {
    grid-row-start: span 4;
    height: 100% !important;
}

#media-invalid-category {
    display: none;
    height: 100px;
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
}

#lightbox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(9px) saturate(100%);
    -webkit-backdrop-filter: blur(9px) saturate(100%);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 3;
}

#lightbox img {
    max-width: calc(100% - 120px);
    max-height: calc(100% - 40px);
    margin: 20px;
    object-fit: cover;
    user-select: none;
    border-radius: 10px;
    background-color: var(--text-constant-dark);
    padding: 10px;
}

#lightbox-description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%);
    background-color: rgba(0, 0, 0, 0.573);
    color: var(--text-constant-light);
    opacity: 0.8;
    border-radius: 12px;
    width: 50vw;
    height: 100px;
    padding: 10px 15px;
    text-align: left;
    transition: all 0.3s ease;
}

#lightbox-description a {
    color: var(--text-constant-light);
}

#lightbox-description a:hover {
    color: var(--primary);
}

#lightbox-description:hover {
    opacity: 1;
}

#media-nav-arrow-left,
#media-nav-arrow-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    color: var(--text-constant-light);
    transition: font-size 0.3s ease;
}

#media-nav-arrow-left {
    left: 20px;
    right: unset;
}

#media-nav-arrow-left:hover,
#media-nav-arrow-right:hover {
    color: var(--primary);
    font-size: 50px;
}

#close {
    position: absolute;
    top: 10px;
    right: 30px;
    color: var(--text-constant-light);
    font-size: 60px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

#close:hover {
    color: var(--primary);
    transform: scale(1.4);
}

.media-footer-cta {
    height: 30vh;
    background-color: var(--primary);
}

/*
    Imprint
*/

.imprint-main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(90vh - 79.4px);
    padding: 40px 20px;
    z-index: 0;
}

.imprint-content {
    background-color: transparent;
    box-shadow: var(--primary) 0px 0px 10px;
    border-radius: 30px;
    width: 800px;
    padding: 20px;
    transition: width 0.3s ease;
    z-index: 1;
}

.imprint-content h1,
.imprint-content h2,
.imprint-content p {
    margin-bottom: 20px;
    line-height: 1.2;
}

.imprint-content p {
    font-size: 18px;
    color: var(--gray-black);
    margin-bottom: 30px;
}

.imprint-content a {
    color: var(--primary);
    cursor: pointer;
}

.imprint-content a:hover {
    color: var(--accent);
}

.imprint-a {
    color: var(--text) !important;
    padding: 5px 10px;
    border: 2px solid;
    border-radius: 10px;
    margin: 20px 0;
    transition: border-color 0.3s ease, ;
}

.imprint-a:hover {
    border-color: var(--primary);
    color: var(--primary) !important;
}

.imprint-footer {
    z-index: 0;
}

/*
    Media Queries
*/

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .introduction h1 {
        margin-top: 15vh;
    }
}

@media only screen and (max-height: 320px) {
    .introduction h1 {
        margin: 20vh auto 0 20px;
        font-size: 48px;

    }

    .full-h2,
    .short-h2 {
        margin: 0 20px 0 25px;
        font-size: 16px;
    }

    .primary-cta {
        margin: 20px 0 20px 20px;
    }
}

@media only screen and (min-width: 2000px) {
    .media-grid {
        grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    }
}

@media only screen and (max-width: 1450px) {
    .bio-bg h1 {
        font-size: 78px;
    }
}

@media only screen and (max-width: 1200px) {
    .form-container {
        width: 500px;
    }

    .bio-section {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .bio-section-1 {
        padding-top: 128px;
    }

    .bio-section-1 {
        padding-bottom: 0;
    }

    .bio-section img {
        width: 100%;
        margin-bottom: 40px;
        border-radius: 20px;
    }

    .bio-p1,
    .bio-p2,
    .bio-p3,
    .bio-p4,
    .bio-p5 {
        width: 100%;
        max-width: unset;
        margin-bottom: 40px;
    }

    .bio-bg h1 {
        font-size: 64px;
    }

    .bio-p5 {
        margin-top: 0;
    }

    #lightbox-description {
        width: 560px;
    }
}

@media only screen and (max-width: 1000px) {
    .introduction h1 {
        font-size: 50px;
    }

    .form-container {
        width: 400px;
    }

    .bio-hero-text {
        width: calc(100% - 80px);
    }

    .bio-bg h1 {
        font-size: 50px;
    }

    .imprint-content {
        width: 100%;
    }

    
}

@media only screen and (max-width: 768px) {

    .nav,
    .cta,
    .theme-switcher {
        display: none;
    }

    .theme-switcher-small {
        display: block;
    }

    .menu {
        display: initial;
    }

    .introduction h1 {
        font-size: 36px;
    }

    .full-h2,
    .short-h2 {
        font-size: 18px;
    }

    .contact-background-container {
        width: 50%;
    }

    .bio-bg h1 {
        text-align: center;
        align-items: flex-start;
        padding-top: 20vh;
    }

    .bio-section div {
        display: flex;
        flex-direction: column;
    }

    .bio-button {
        width: 100%;
    }

    .bio-redirect {
        display: none;
    }

    .media-grid {
        display: flex;
        flex-direction: column;
    }

    .media-grid img {
        height: 100%;
    }

    .media-grid img:hover {
        transform: none;
    }

    .media-nav {
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .media-nav ul {
        border-radius: 10px;
        flex-direction: column;
        width: 100%;
    }

    .media-nav li {
        border-radius: 10px;
        margin: 10px 10px;
        width: 93%;
    }

    #media-li-1, #media-li-4 {
        margin: inherit;
    }

    #lightbox-description {
        left: 20px;
        transform: none;
        width: calc(100vw - 40px);
        opacity: 1;
    }

    #lightbox-description h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 560px) {
    .introduction h1 {
        margin: 20vh auto 10px 20px;
        font-size: 28px;
    }

    .full-h2,
    .short-h2 {
        margin: 0 20px 0 25px;
        font-size: 16px;
    }

    .primary-cta {
        margin: 20px 0 20px 20px;
    }

    .contact-background-container {
        display: none;
    }

    .form-container {
        width: 100%;
    }

    .content-tiles-container {
        display: flex;
        flex-direction: column;
    }

    .bio-content {
        padding-top: 15vw;
    }
    
    #lightbox img {
        min-height: 30vh;
        padding: 0;
        margin: inherit 0;
        height: auto;
    }
}

@media only screen and (max-width: 450px) {
    .introduction h1 {
        font-size: 24px;
    }

    .bio-bg h1 {
        font-size: 40px;
    }

    .bio-content {
        padding-top: 35vw;
    }
}

@media only screen and (max-width: 400px) {

    .full-h2,
    .short-h2 {
        margin: 0 20px 0 25px;
        font-size: 12px;
    }

    .primary-cta,
    .secondary-cta {
        width: 100px;
        height: 40px;
        border-radius: 30px;
        font-size: 12px;
    }

    .bio-bg h1 {
        font-size: 32px;
    }

    .bio-content {
        padding-top: 250px;
    }

    .hidden {
        transition: none;
    }
}

@media only screen and (max-width: 350px) {

    .bio-section-1 {
        padding-top: 350px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    body {
        width: 100vw;
        overflow: hidden;
    }
}