/*
THIS IS A DROP BOX FOR NICE COLOR THEMES - DO NOT LINK IN ANY DOCUMENTS
*/

/*red-ish theme*/
:root[data-theme="light"] {
  --text: #21030d;
  --background: #feecf1;
  --primary: #ef255b;
  --secondary: #f59b84;
  --accent: #f08842;
}

:root[data-theme="dark"] {
  --text: #fcdee8;
  --background: #130106;
  --primary: #da1046;
  --secondary: #7b200a;
  --accent: #bd550f;
}


/*blue-ish theme*/
:root[data-theme="light"] {
  --text: #070b0c;
  --background: #f8fbfb;
  --primary: #4da2bb;
  --secondary: #8bcbde;
  --accent: #65c4e0;
  
  --primary-light: #4da1bb85;
  --text-invert: #f9f0f1;
}

:root[data-theme="dark"] {
  --text: #f2f6f7;
  --background: #040606;
  --primary: #4398b1;
  --secondary: #216073;
  --accent: #1f7c98;

  --primary-light: #4397b180;
  --text-invert: #0f0607;
}