/*
THIS IS A DROP BOX FOR NICE COLOR THEMES - DO NOT LINK IN ANY DOCUMENTS
*/

/* Main Blue ish theme*/
:root[data-theme="light"] {
  --text: #061212;
  --background: #f4fcfc;
  --primary: #4dc6c7;
  --secondary: #8da2db;
  --accent: #716dd1;

  --primary-light: #4dc6c780;
  --text-invert: #f9f0f1;

  --gray-light: #f2f2f2;
  --gray-medium: #dcdcdc;
  --gray-dark: #a0a0a0;

  --font-small: 12;
  --font-medium: 16;
  --font-big: 24;
}

:root[data-theme="dark"] {
  --text: #ecf9f9;
  --background: #030c0c;
  --primary: #38b2b2;
  --secondary: #233870;
  --accent: #322f93;

  --primary-light: #38b2b285;
  --text-invert: #0f0607;

  --gray-light: #606060;
  --gray-medium: #404040;
  --gray-dark: #202020;

  --font-small: 12;
  --font-medium: 16;
  --font-big: 24;
}

/*red-ish theme*/
:root[data-theme="light"] {
  --text: #21030d;
  --background: #feecf1;
  --primary: #ef255b;
  --secondary: #f59b84;
  --accent: #f08842;
}

:root[data-theme="dark"] {
  --text: #fcdee8;
  --background: #130106;
  --primary: #da1046;
  --secondary: #7b200a;
  --accent: #bd550f;
}


/*blue-ish theme*/
:root[data-theme="light"] {
  --text: #070b0c;
  --background: #f8fbfb;
  --primary: #4da2bb;
  --secondary: #8bcbde;
  --accent: #65c4e0;
  
  --primary-light: #4da1bb85;
  --text-invert: #f9f0f1;
}

:root[data-theme="dark"] {
  --text: #f2f6f7;
  --background: #040606;
  --primary: #4398b1;
  --secondary: #216073;
  --accent: #1f7c98;

  --primary-light: #4397b180;
  --text-invert: #0f0607;
}


:root[data-theme="light"] {
  --text-50: #ecf9f9;
  --text-100: #d9f2f2;
  --text-200: #b3e5e6;
  --text-300: #8cd9d9;
  --text-400: #66cccc;
  --text-500: #40bfbf;
  --text-600: #339999;
  --text-700: #267373;
  --text-800: #194d4d;
  --text-900: #0d2626;
  --text-950: #061313;

  --background-50: #ebfafa;
  --background-100: #d7f4f4;
  --background-200: #afe9e9;
  --background-300: #87dede;
  --background-400: #5fd3d3;
  --background-500: #37c8c8;
  --background-600: #2ca0a0;
  --background-700: #217878;
  --background-800: #165050;
  --background-900: #0b2828;
  --background-950: #051414;

  --primary-50: #ecf9f9;
  --primary-100: #d8f3f3;
  --primary-200: #b1e7e7;
  --primary-300: #8bdada;
  --primary-400: #64cece;
  --primary-500: #3dc2c2;
  --primary-600: #319b9b;
  --primary-700: #257474;
  --primary-800: #184e4e;
  --primary-900: #0c2727;
  --primary-950: #061313;

  --secondary-50: #eceff9;
  --secondary-100: #d8dff3;
  --secondary-200: #b1c0e7;
  --secondary-300: #8ba0da;
  --secondary-400: #6480ce;
  --secondary-500: #3d61c2;
  --secondary-600: #314d9b;
  --secondary-700: #253a74;
  --secondary-800: #18274e;
  --secondary-900: #0c1327;
  --secondary-950: #060a13;

  --accent-50: #ececf9;
  --accent-100: #d9d8f3;
  --accent-200: #b3b1e7;
  --accent-300: #8d8bda;
  --accent-400: #6764ce;
  --accent-500: #423dc2;
  --accent-600: #34319b;
  --accent-700: #272574;
  --accent-800: #1a184e;
  --accent-900: #0d0c27;
  --accent-950: #070613;

}
:root[data-theme="dark"] {
  --text-50: #061313;
  --text-100: #0c2727;
  --text-200: #184e4e;
  --text-300: #257474;
  --text-400: #319b9b;
  --text-500: #3dc2c2;
  --text-600: #64cece;
  --text-700: #8bdada;
  --text-800: #b1e7e7;
  --text-900: #d8f3f3;
  --text-950: #ecf9f9;

  --background-50: #051414;
  --background-100: #0a2929;
  --background-200: #145252;
  --background-300: #1f7a7a;
  --background-400: #29a3a3;
  --background-500: #33cccc;
  --background-600: #5cd6d6;
  --background-700: #85e0e0;
  --background-800: #adebeb;
  --background-900: #d6f5f5;
  --background-950: #ebfafa;

  --primary-50: #061313;
  --primary-100: #0c2727;
  --primary-200: #184e4e;
  --primary-300: #257474;
  --primary-400: #319b9b;
  --primary-500: #3dc2c2;
  --primary-600: #64cece;
  --primary-700: #8bdada;
  --primary-800: #b1e7e7;
  --primary-900: #d8f3f3;
  --primary-950: #ecf9f9;

  --secondary-50: #060a13;
  --secondary-100: #0c1327;
  --secondary-200: #18274e;
  --secondary-300: #253a74;
  --secondary-400: #314d9b;
  --secondary-500: #3d61c2;
  --secondary-600: #6480ce;
  --secondary-700: #8ba0da;
  --secondary-800: #b1c0e7;
  --secondary-900: #d8dff3;
  --secondary-950: #eceff9;

  --accent-50: #070613;
  --accent-100: #0d0c27;
  --accent-200: #1a184e;
  --accent-300: #272574;
  --accent-400: #34319b;
  --accent-500: #423dc2;
  --accent-600: #6764ce;
  --accent-700: #8d8bda;
  --accent-800: #b3b1e7;
  --accent-900: #d9d8f3;
  --accent-950: #ececf9;

}


/* options */

:root[data-theme="light"] {
  --text: #0a0e1d;
  --background: #f1f3fb;
  --primary: #324fd1;
  --secondary: #8e9feb;
  --accent: #5a75ea;
}
:root[data-theme="dark"] {
  --text: #e1e5f5;
  --background: #040710;
  --primary: #2e4bcc;
  --secondary: #142571;
  --accent: #152fa2;
}
